name: Update dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *"

jobs:
  update-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Update dependencies
        run: |
          pnpm install
          pnpm up --latest
      - name: Commit changes
        run: |
          git add package.json pnpm-lock.yaml
          git commit -m "chore: update dependencies" || echo "No changes to commit"
      - name: Push changes
        run: git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}